<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ForumMapper">

    <insert id="insertList2ForumPostLike">
        insert into post_like(user_id, post_id) values
        <foreach collection="list" separator="," item="like">
            ( #{like.userId},#{like.postId})
        </foreach>
    </insert>


    <select id="selectForumPostPreViewsByIds" resultType="com.pojo.ForumPostPreview">
        select id, title,labels,publisher_id,create_time,like_num,collect_num from posts
        <where>
            id in
            <foreach collection="ids" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
            and visible_scope = 1
        </where>

    </select>


    <!--    <select id="selectPostPreviewsByPostIds" resultType="com.pojo.ForumPostPreview">-->
    <!--        select id,title,publisher_id,labels from posts-->
    <!--        <where>-->
    <!--            id in-->
    <!--            <foreach collection="list" open="(" close=")" separator="," item="collect">-->
    <!--                #{collect.postId}-->
    <!--            </foreach>-->
    <!--        </where>-->
    <!--    </select>-->

</mapper>